@font-face {
	font-family: 'Rochester-Regular'; 
	src: url(/src/fonts/Rochester-Regular.ttf);
}

:root {
    --black: #0F0F0F;
    --white: #FFFFFF;
    --red: #E63030;
}

[data-backcolor="white"]{
    background: var(--white) !important;
}
[data-backcolor="black"]{
    background: var(--black) !important;
}

.wrapper-content>.wraper-content-inside:first-child{
    margin-top: 0px;
}

.wraper-content-inside{
    margin-top: 30px;
    padding-top: 165px;
    padding-left: 100px;
    height: 902px;
    background: var(--white);
}

.content{
    height: 598px;
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 162px 436px;
    gap: 0px 30px ;
}


.left-text{
    grid-row: 1/3; 
}
.included-left{
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    height: 598px;
    align-items: center;
}
.content-left-span{    
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.2em;

    color: #0F0F0F;
    transform: rotate(-90deg)
}
.content-left-span.white{
    color: var(--white);
}


.content-title{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 120px;

    color: var(--black);
    gap: 30px 30px;
}.content-title.white{
    color: var(--white);
}
.content-desc{    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    
    color: rgba(15, 15, 15, 0.7);   
}
.content-desc.white{
    color: rgba(255, 255, 255, 0.7);   
}


.right-text{
    grid-row: 1/2;
    grid-column: 3/4;
}
.included-right{
    background: white;
    display: grid;
    grid-template-columns: 1fr;
}
.content-right-span{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    
    text-align: right;
    letter-spacing: 0.235em;
    color: #0F0F0F;
}
.content-right-span.red{
    color: var(--red);
}
.content-right-span.white{
    color: var(--white);
}
.content-right-span.black{
    color: var(--black);
}
.right-image img{
    width: 499px;
    height: 436px;
    object-fit: cover;
}