@font-face {
	font-family: 'Rochester-Regular'; 
	src: url(/src/fonts/Rochester-Regular.ttf);
}

:root {
    --black: #0F0F0F;
    --white: #FFFFFF;
    --red: #E63030;
}

[data-backcolor="white"]{
    background: var(--white);
}
[data-backcolor="black"]{
    background: var(--black);
}

.wrapper-content>.content:first-child{
    margin-top: 0px;
}

.content{
    position: relative;
    height: 902px;
    margin-top: 30px;
}

.content-title{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 120px;

    position: relative;
    left: 206px;
    top: 165px;

    width: 500px;
    height: 105px;
    
    color: var(--black);
}
.content-title.white{
    color: var(--white);
}

.content-desc{    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    
    position: relative;
    left: 206px;
    top: 207px;

    display: flex;
    width: 405px;
    height: 436px;
    
    color: rgba(15, 15, 15, 0.7);   
}
.content-desc.white{
    color: rgba(255, 255, 255, 0.7);   
}

.right-text{
    position: absolute;
    left: 940px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 165px;
    width: 400px;

}
.content-right-span{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;

    text-align: right;
    letter-spacing: 0.235em;
    color: #0F0F0F;
}
.content-right-span.red{
    color: var(--red);
}
.content-right-span.white{
    color: #FFFFFF;
}
.content-right-span.black{
    color: #0F0F0F;
}


.left-text{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: right;

    left: 100px;
    top: 175px;
    width: 76px;
    height: 598px;
}
.content-left-span{    
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.2em;

    color: #0F0F0F;
    transform: rotate(-90deg)
}
.content-left-span.up{    
    width: 239px;
    height: 76px;
}
.content-left-span.down{
    width: 78px;
    height: 76px;
}
.content-left-span.white{
    color: #FFFFFF;
}

.content img{
    position: absolute;
    width: 499px;
    height: 436px;
    left: 841px;
    top: 327px;

    object-fit: cover;
}