@font-face {
	font-family: 'Rochester-Regular'; 
	src: url(/src/fonts/Rochester-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --black: #0F0F0F;
    --white: #FFFFFF;
    --red: #E63030;
}

html{
    position: relative;
    height: 2500px;
    background: var(--black);
}

header{
    display: flex;
    justify-content: space-between;

    align-items: center;
    text-align: center;
}

#my-name{
    font-family: 'Rochester-Regular';
    font-size: 40px;
    line-height: 52px;
    
    color: var(--white);
}

.header-pages{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    line-height: 35px;

    color: var(--white);
}

.under-header{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header-photo{
    width: 100%;
    height: 902px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.9) 100%), 
        url(/src/images/Header\ image.jpg) no-repeat;
    background-size: cover;
}

#header-arrow{
    position: absolute;
    top: 30%;
}

.under-header span{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 240px;
    color: var(--white);
    
    position: absolute;
    /* top:20%; */
}

